/**
 * Thoughtless colors - http://www.colourlovers.com/palette/694737/Thought_Provoking
 *
 * yellow: ECD078; 236,208,120 - Backgrounds
 * brick: D95B43; 217,91,67    - CTA Hover
 * red: C02942; 192,41,66      - CTAs
 * wine: 542437; 84,36,55      - Text
 * moss: 53777A; 83,119,122    - Titles, accents
 */

html {
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 12%);
}

html:hover {
  cursor: default;
}

::selection {
  background-color: #edabb6;
}

::-moz-selection {
  background-color: #edabb6;
}

/* Navbar defaults */

.navbar {
  background-color: hsl(0, 0%, 94%);
  font-family: 'Cabin', Garamond, Serif;
  font-weight: 600;
  font-size: 1rem;
}

.navbar .navbar-center { position: relative; }
@media (min-width: 769px) {
  /* to center navbar-center */
  .navbar .navbar-center { left: -30px; }
}

.navbar-brand {
  width: 100%;
}

.navbar .navbar-center {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: stretch;
}

.navbar-dropdown {
  background-color: hsl(0, 0%, 88%);
}

a, .navbar-link, .navbar-item {
  color: hsl(0, 0%, 12%);
}

a.navbar-item:hover, .navbar-link:hover {
  color: #C02942;
  background-color: hsl(0, 0%, 88%);
}

.navbar-item.has-dropdown:hover .navbar-link {
  color: #C02942;
  background-color: hsl(0, 0%, 88%);
}

.navbar-link::after {
  border-color: hsl(0, 0%, 12%);
}

main a, footer a { color: rgb(192, 41, 66); }
main a:visited, main .title a, main .title a:hover { color: rgb(83, 119, 122); }
main a:hover, footer a:hover { color: rgb(217, 91, 67); }

/* Footer defaults */

.footer {
  background-color: hsl(0, 0%, 94%);
}

.footer svg {
  height: 1em;
  width: 1em;
}

.footer #keybase {
  fill: rgb(192, 41, 66);
}

.footer a svg:hover #keybase {
  fill: rgb(217, 91, 67);
}

footer:target #keybase {
  animation: link-glow 1s;
}

footer:target a {
  animation: link-glow 1s;
}

body {
  font-family: 'Vollkorn', Garamond, Georgia, Serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 384px) {
  body { font-size: 1rem; }
}

.text {
  max-width: 33em;
}

.title {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.title.is-massive {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.title.is-size-2 {
  font-family: 'Vollkorn', Garamond, Georgia, Serif;
  font-weight: 900;
}

.content .is-size-3 {
  font-weight: 600;
}

.content .is-size-6 {
  font-weight: 600;
}

pre, code {
  font-family: 'Source Code Pro', Consolas, 'Menlo Regular', Monospace;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 384px) {
  .title { font-size: 3rem; }
}

.content h2 {
  margin-top: 1.7142em;
}

@media (hover) {
  span[title] {
    text-decoration: underline dotted rgb(83, 119, 122);
  }
}

@media (-moz-touch-enabled: 0) {
  span[title] {
    text-decoration: underline dotted rgb(83, 119, 122);
  }
}

@keyframes link-glow {
  50% {
    color: rgb(236, 208, 120);
    fill: rgb(236, 208, 120);
  }
}
