
main a, footer a { color: rgb(192, 41, 66); }
main a:visited, main .title a, main .title a:hover { color: rgb(83, 119, 122); }
main a:hover, footer a:hover { color: rgb(217, 91, 67); }

/* Footer defaults */

.text {
  max-width: 33em;
}

.title {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.title.is-massive {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.title.is-size-2 {
  font-family: 'Vollkorn', Garamond, Georgia, Serif;
  font-weight: 900;
}

.content .is-size-3 {
  font-weight: 600;
}

.content .is-size-6 {
  font-weight: 600;
}

pre, code {
  font-family: 'Source Code Pro', Consolas, 'Menlo Regular', Monospace;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 384px) {
  .title { font-size: 3rem; }
}

.content h2 {
  margin-top: 1.7142em;
}

@media (hover) {
  span[title] {
    text-decoration: underline dotted rgb(83, 119, 122);
  }
}

@media (-moz-touch-enabled: 0) {
  span[title] {
    text-decoration: underline dotted rgb(83, 119, 122);
  }
}

@keyframes link-glow {
  50% {
    color: rgb(236, 208, 120);
    fill: rgb(236, 208, 120);
  }
}
